<%= @post.title %>
  
  <% @post.categories.each do |category| %>
    <%= category.name %>
  <% end %>
  
  <%= @post.content %>
  <ul>
  <% @post.comments.each do |comment| %>
  <li><%= comment. %></li>
  <% end %>
  </ul>